* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

h2 {
  margin: 10px;
  text-align: left;
  font-style: italic;
}

/*.titulo{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
}*/
section {
  margin: 10px;
  text-align: justify;
  margin-bottom: 20px;
}

header {
  background-color: rgb(13, 25, 63);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
header nav {
  width: 100%;
}
header nav ul {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li a:hover {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.logo {
  height: 100px;
}

.contenedor-carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grilla-contenido-nosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6 auto);
  margin: 1rem 3rem 3rem 3rem;
  gap: 1rem;
}
.grilla-contenido-nosotros div {
  width: 100%;
  text-align: center;
}
.grilla-contenido-nosotros div img {
  border-radius: 50%;
  height: 100px;
  position: relative;
  top: -65px;
}
.grilla-contenido-nosotros .contenedor-andrea {
  margin-bottom: 100px;
  box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border-radius: 10px;
}
.grilla-contenido-nosotros .foto-andrea {
  height: 50px;
}
.grilla-contenido-nosotros .nombre-andrea {
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.grilla-contenido-nosotros .contenedor-juan {
  margin-bottom: 100px;
  box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border-radius: 10px;
}
.grilla-contenido-nosotros .foto-juan {
  height: 50px;
}
.grilla-contenido-nosotros .nombre-juan {
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.grilla-contenido-nosotros .contenedor-maria {
  margin-bottom: 100px;
  box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border-radius: 10px;
}
.grilla-contenido-nosotros .foto-maria {
  height: 50px;
}
.grilla-contenido-nosotros .nombre-maria {
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.grilla-contenido-contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2 auto);
  gap: 1rem;
}
.grilla-contenido-contacto .contenedor-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6 1fr);
  row-gap: 10px;
  grid-template-areas: "lb-nombre tb-nombre tb-nombre" "lb-apellido tb-apellido tb-apellido" "lb-email tb-email tb-email" "lb-mensaje lb-mensaje lb-mensaje" "ta-mensaje ta-mensaje ta-mensaje" "btn-enviar btn-enviar btn-enviar";
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .lb-nombre {
  grid-area: lb-nombre;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .tb-nombre {
  grid-area: tb-nombre;
  border: 1px solid rgb(13, 25, 63);
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .tb-nombre:focus {
  background-color: #b6d8ff;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .lb-apellido {
  grid-area: lb-apellido;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .tb-apellido {
  grid-area: tb-apellido;
  border: 1px solid rgb(13, 25, 63);
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .tb-apellido:focus {
  background-color: #b6d8ff;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .lb-email {
  grid-area: lb-email;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .tb-email {
  grid-area: tb-email;
  border: 1px solid rgb(13, 25, 63);
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .tb-email:focus {
  background-color: #b6d8ff;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .lb-mensaje {
  grid-area: lb-mensaje;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .ta-mensaje {
  grid-area: ta-mensaje;
  border: 1px solid rgb(13, 25, 63);
  resize: none;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .ta-mensaje:focus {
  background-color: #b6d8ff;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .btn-enviar {
  grid-area: btn-enviar;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  cursor: pointer;
  color: #ffffff;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .btn-enviar:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}
.grilla-contenido-contacto .contenedor-formulario .grilla-formulario .btn-enviar:active {
  position: relative;
  top: 1px;
}
.grilla-contenido-contacto .contenedor-mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grilla-contenido-contacto .contenedor-mapa .mapa {
  width: fit-content;
}

.grilla-contenido-propiedades {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6 auto);
  margin: 1rem 3rem 3rem 3rem;
  gap: 1rem;
}
.grilla-contenido-propiedades .filtros {
  width: 75vw;
}
.grilla-contenido-propiedades .listado-propiedades {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grilla-contenido-propiedades .listado-propiedades .propiedad {
  margin-bottom: 30px;
}
.grilla-contenido-propiedades .listado-propiedades .propiedad .foto-propiedad {
  width: 80vw;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.grilla-contenido-propiedades .listado-propiedades .propiedad .descr-propiedad {
  text-align: center;
}
.grilla-contenido-propiedades .listado-propiedades .propiedad .resumen-propiedad {
  visibility: hidden;
  position: absolute;
  z-index: 2;
}

.grilla-contenido-consorcios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6 auto);
  margin: 1rem 3rem 3rem 3rem;
  gap: 1rem;
}
.grilla-contenido-consorcios .card-consorcios {
  margin-bottom: 30px;
  box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border-radius: 10px;
}
.grilla-contenido-consorcios .card-consorcios .titulo-card-consorcios {
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.grilla-contenido-consorcios .card-consorcios .desc-card-consorcios {
  text-align: justify;
}

.position-fixed {
  position: fixed;
  width: 100px;
  bottom: 20px;
  right: 20px;
}
.position-fixed img {
  width: 100px;
}

footer {
  background-color: #90E0EF;
  padding: 10px 0;
}
footer div {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
footer div img {
  width: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    background-color: color-fondo-header;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header nav ul li {
    list-style-type: none;
  }
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  header nav ul li a:hover {
    color: white;
    text-decoration: none;
    font-weight: bolder;
  }
  .grilla-contenido-main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 50px;
    grid-template-areas: "mision por-que" "servicios unete";
  }
  .grilla-contenido-main .mision {
    grid-area: mision;
  }
  .grilla-contenido-main .por-que {
    grid-area: por-que;
  }
  .grilla-contenido-main .servicios {
    grid-area: servicios;
  }
  .grilla-contenido-main .unete {
    grid-area: unete;
  }
  .grilla-contenido-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: 1rem 3rem 3rem 3rem;
    gap: 1rem;
    grid-template-areas: "contenedor-formulario contenedor-mapa";
  }
  .grilla-contenido-contacto .contenedor-formulario {
    grid-area: contenedor-formulario;
  }
  .grilla-contenido-contacto .contenedor-mapa {
    grid-area: contenedor-mapa;
    display: flex;
    justify-content: flex-start;
  }
  .grilla-contenido-contacto .contenedor-mapa .mapa {
    width: 400px;
    height: 300px;
  }
  .grilla-contenido-propiedades {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
  }
  .grilla-contenido-propiedades .filtros {
    width: auto;
  }
  .grilla-contenido-propiedades .listado-propiedades .propiedad .foto-propiedad {
    width: 100%;
  }
  .grilla-contenido-propiedades .listado-propiedades .propiedad .resumen-propiedad {
    visibility: hidden;
    position: absolute;
    z-index: 2;
  }
  .grilla-contenido-consorcios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr;
  }
}
@media screen and (min-width: 1024px) {
  header {
    background-color: color-fondo-header;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header nav ul li {
    list-style-type: none;
  }
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  header nav ul li a:hover {
    color: white;
    text-decoration: none;
    font-weight: bolder;
  }
  .grilla-contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "contenedor-andrea contenedor-juan contenedor-maria";
  }
  .grilla-contenido-nosotros .contenedor-andrea {
    grid-area: contenedor-andrea;
  }
  .grilla-contenido-nosotros .contenedor-juan {
    grid-area: contenedor-juan;
  }
  .grilla-contenido-nosotros .contenedor-maria {
    grid-area: contenedor-maria;
  }
  .grilla-contenido-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: 1rem 3rem 3rem 3rem;
    gap: 1rem;
    grid-template-areas: "contenedor-formulario contenedor-mapa";
  }
  .grilla-contenido-contacto .contenedor-formulario {
    grid-area: contenedor-formulario;
  }
  .grilla-contenido-contacto .contenedor-mapa {
    grid-area: contenedor-mapa;
    display: flex;
    justify-content: flex-start;
  }
  .grilla-contenido-contacto .contenedor-mapa .mapa {
    width: 500px;
    height: 400px;
  }
  .grilla-contenido-propiedades {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
  }
  .grilla-contenido-propiedades .filtros {
    width: auto;
  }
  .grilla-contenido-propiedades .listado-propiedades .propiedad {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2 1fr);
    column-gap: 20px;
    border-bottom: solid 1px rgb(13, 25, 63);
    grid-template-areas: "foto-propiedad resumen-propiedad" "descr-propiedad descr-propiedad";
  }
  .grilla-contenido-propiedades .listado-propiedades .propiedad .foto-propiedad {
    width: auto;
    grid-area: foto-propiedad;
  }
  .grilla-contenido-propiedades .listado-propiedades .propiedad .resumen-propiedad {
    grid-area: resumen-propiedad;
    text-align: justify;
    visibility: visible;
    z-index: inherit;
    position: relative;
  }
  .grilla-contenido-propiedades .listado-propiedades .propiedad .descr-propiedad {
    grid-area: descr-propiedad;
  }
  .grilla-contenido-consorcios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr;
  }
}

/*# sourceMappingURL=styles.css.map */
